<h3 id="publications">Publications</h3>
<ul>
  <li>
    <p>Steinbrook R, <strong>Stern RJ</strong>, Redberg RF. 2017. Firearm Violence: A JAMA Internal Medicine Series. <em>JAMA Internal Medicine</em>. <a href="https://doi.org/10.1001/jamainternmed.2016.7180" target="_blank">DOI: 10.1001/jamainternmed.2016.7180</a></p>
  </li>
  <li>
    <p><strong>Stern RJ</strong>. 2016. Health Policy and Medical Training: Breaking Down Barriers Between the Wards and the World. <em>JAMA Internal Medicine</em>. <a href="https://doi.org/10.1001/jamainternmed.2015.6848" target="_blank">DOI: 10.1001/jamainternmed.2015.6848</a></p>
  </li>
  <li>
    <p><strong>Stern RJ</strong>, Murphy EJ. 2015. Metformin as Initial Oral Therapy in Type 2 Diabetes. <em>JAMA</em>. <a href="https://doi.org/10.1001/jama.2015.2765" target="_blank">DOI: 10.1001/jama.2015.2765</a></p>
  </li>
</ul>
