<h3 id="publications">Publications</h3>
<ul>
  <li>
    <p>Steinbrook R, <strong>Stern RJ</strong>, Redberg RF. 2017. Firearm Violence: A JAMA Internal Medicine Series. <em>JAMA Internal Medicine</em> 177:19–20. <a href="https://doi.org/10.1001/jamainternmed.2016.7180" target="_blank">DOI: 10.1001/jamainternmed.2016.7180</a></p>
  </li>
  <li>
    <p><strong>Stern RJ</strong>. 2016. Teaching Medical Students to Engage Meaningfully and Judiciously With Patient Data. <em>JAMA Internal Medicine</em> 176:1397–1397. <a href="https://doi.org/10.1001/jamainternmed.2016.3886" target="_blank">DOI: 10.1001/jamainternmed.2016.3886</a></p>
  </li>
  <li>
    <p>Steinbrook R, <strong>Stern RJ</strong>, Redberg RF. 2016. Firearm Injuries and Gun Violence: Call for Papers. <em>JAMA Internal Medicine</em> 176:596–597. <a href="https://doi.org/10.1001/jamainternmed.2016.0937" target="_blank">DOI: 10.1001/jamainternmed.2016.0937</a></p>
  </li>
  <li>
    <p><strong>Stern RJ</strong>, Parks AL. 2016. Teaching High-Value Care on Rounds: Modeling Moderation. <em>JAMA Internal Medicine</em> 176:262–263. <a href="https://doi.org/10.1001/jamainternmed.2015.6982" target="_blank">DOI: 10.1001/jamainternmed.2015.6982</a></p>
  </li>
  <li>
    <p><strong>Stern RJ</strong>. 2016. Health Policy and Medical Training: Breaking Down Barriers Between the Wards and the World. <em>JAMA Internal Medicine</em>. <a href="https://doi.org/10.1001/jamainternmed.2015.6848" target="_blank">DOI: 10.1001/jamainternmed.2015.6848</a></p>
  </li>
  <li>
    <p><strong>Stern RJ</strong>, Murphy EJ. 2015. Metformin as Initial Oral Therapy in Type 2 Diabetes. <em>JAMA</em>. <a href="https://doi.org/10.1001/jama.2015.2765" target="_blank">DOI: 10.1001/jama.2015.2765</a></p>
  </li>
</ul>
