---
---

@import "{{ site.theme }}";
.site-footer-credits {
  @include large {
    font-size: 0.6rem;
  }

  @include medium {
    font-size: 0.6rem;
  }

  @include small {
    font-size: 0.5rem;
  }
}
